<div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <nav class="panel is-link">
        <p class="panel-heading">
          <%= entry.meal_type %>
        </p>

        <div class="panel-block">
          Calories: <%= entry.calories %>
        </div>

        <div class="panel-block">
          Proteins: <%= entry.proteins %>
        </div>

        <div class="panel-block">
          Carbohydrates: <%= entry.carbohydrates %>
        </div>

        <div class="panel-block">
          Fats: <%= entry.fats %>
        </div>
      </nav>

      <div>
        <p style="font-style: italic;">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>
      </div>
    </div>
  </div>
</div>
