<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.strftime('%B %e, %Y') %>
<% end %>

<p style="color: green"><%= notice %></p>

<div id="entries" class="columns is-multiline is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <nav class="panel is-link">
            <p class="panel-heading">
              <%= entry.meal_type %>
            </p>

            <div class="panel-block">
              Calories: <%= entry.calories %>
            </div>

            <div class="panel-block">
              Proteins: <%= entry.proteins %>
            </div>

            <div class="panel-block">
              Carbohydrates: <%= entry.carbohydrates %>
            </div>

            <div class="panel-block">
              Fats: <%= entry.fats %>
            </div>
          </nav>

          <div>
            <p style="font-style: italic;">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>
          </div>

          <div class="has-text-centered mt-2">
            <%= link_to "Show details", entry, class: "button is-primary is-small" %>
          </div>
<div class="columns is-centered mt-6">
<% link_to "View all entires", archives_index_path, class: "button is-link is-outlined is-centered" %>
</div>
        </div>
      </div>
    </div>
  <% end %>
</div>

