<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <div class="card">
      <header class="card-header">
        <p class="is-size-3 card-header-title has-text-weight-bold mb-3 is-centered">New entry</p>
      </header>
      <div class="card-content">
        <div class="content">
          <%= form_with model: @entry, url: entries_path do |form| %>
            <div class="field">
              <label class="label">Meal Type</label>
              <div class="control">
                <%= form.text_field :meal_type, class: "input" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Calories</label>
              <div class="control">
                <%= form.number_field :calories, class: "input" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Proteins</label>
              <div class="control">
                <%= form.number_field :proteins, class: "input" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Carbohydrates</label>
              <div class="control">
                <%= form.number_field :carbohydrates, class: "input" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Fats</label>
              <div class="control">
                <%= form.number_field :fats, class: "input" %>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <%= form.submit "Save", class: "button is-success" %>
              </div>
              <div class="control">
                <%= link_to "Cancel", entries_path, class: "button is-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <%= link_to "Back", entries_path, class: "button is-primary" %>
        </div>
      </footer>
    </div>
  </div>
</div>

<div class="columns is-centered mt-6">
<% link_to "View all entires", archives_index_path, class: "button is-link is-outlined is-centered" %>
</div>