<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.strftime('%B %e, %Y') %>
<% end %>


<%= render @entry %>
<div class="columns mt-6 is-centered has-text-centered">
  <div class="columns card-footer is-centered">
    <div class="buttons">
      <%= link_to "Back", entries_path, class: "button is-primary" %>

      <%= link_to edit_entry_path(@entry), class: "button is-primary" do %>
        Edit
      <% end %>

      <%= button_to "Delete", @entry, method: :delete, class: "button is-danger" %>
    </div>
  </div>
</div>
