<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div class="card-footer">
    <div class="card-footer-item">
      <%= link_to "Back", entries_path %>
    </div>

    <div class="card-footer-item">
    <%= link_to "Edit", edit_entry_path(@entry) %> 
    </div>
    
    <div class="card-footer-item">
    <%= button_to "Delete", @entry, method: :delete %>
    </div>
</div>
